<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradie Trade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="./css/main.css" rel="stylesheet" >
    
</head>
<body>
    <main>
        
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="./index.html">TradieTrade</a>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="./billingForm.html">Billing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./orderHistory.html">Order-History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./workHistory.html">Work-History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./tradieDashboard.html">Tradie Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./customerDashboard.html">Customer Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./userRating.html">Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./comments.html">Comment</a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">User</a>
                <div class="dropdown-menu">
                    <a href="login.html" class="dropdown-item">Login</a>
                    <a href="registerUser.html" class="dropdown-item">Register</a>
                </div>
            </li>
            </ul>
          </div>
        </div>
    </nav>

        </div>
        <h1><center>Message Tradie</center></h1>
        <div class="container">
          <div class="services border border-secondary p-3 mt-4 shadow p-3 mb-5 bg-white rounded">
            <div class="row mt-4">
                <div class="col-10">
                </div>
                <div class="col-2">
                </div>
               </div>
               <h2 class=" mt-4">Overview of Service</h2>
                <table class="table table-bordered mt-2">
                    <thead>
                      <tr>
                        <th scope="col">Service ID</th>
                        <th scope="col">Service Title</th>
                        <th scope="col">Service Description</th>
                        <th scope="col">Service Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Construction</td>
                        <td>Door frame completely rotted through. Foundations are unstable. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam placeat facere ipsum dolores doloribus ab ipsam magnam sunt laborum dolor. 
                            <ul>
                                <li>Careful of Dog</li>
                                <li>Doorbell broken, knock on door.</li>
                            </ul>
                        </td>
                       <td> Ongoing </td>
                    </tr>
                    </tbody>
                  </table>
                  <h2 class=" mt-4">Previous Comments / Requests</h2>
              
                <table class="table table-bordered mt-2">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Time Sent </th>
                        <th scope="col">Comment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>7 hours ago</td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam odit eligendi dolores provident ipsum saepe animi sunt, voluptatem sapiente commodi.</td>
                     
                    
                       
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>10 hours ago</td>
                        <td>Any updates on when you might come? Been 1 day since you accepted my request. Feel free to SMS or call me if you have any questions. Also if you could come before 12 pm that would be great since I have work in the afternoon.</td>
                  
                        
                       
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td >2 days ago</td>
                        <td>Hi James, you can call me in my secondary mobile number if you wish. Number is 0423120381. Also the door is falling apart even more from the recent rain and flooding.</td>
              
                       
                      </tr>
                    </tbody>
                  </table>
                  <div>
                  <h2 class=" mt-4">Add Comment</h2>
                  
                  <label for="freeform">Please write your special request or anything you want to tell the tradie</label>
            <br>
            <textarea id="freeform" name="freeform" rows="4" cols="100">
            Type here
            </textarea>
          </div>
          <a href="#" class="btn btn-primary">Send</a>
          </div>
         
          
                    
          </div>
          
        
          <footer class="bg-dark ">
            <p class="footer-p text-center"><em> &copy; 2022- All Copyrights reserver </em></p>
        </footer>
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>